:root {
  --font-family: "Mulish", sans-serif;

  // color
  --default: linear-gradient(to right, var(--primary), var(--dark));
  --blue: #c8dbe3;
  --register: #f4feff;
  --green: #d8ece0;
  --dark: #0e3448;
  --light: #00c3ff;
  --primary: #82ccdd;
  --secondary: #60a3bc;
  --social: #3498db;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}
